<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/admin">Admin</a></li>
  <li>File Manager</li>
</ol>


<h4>File Manager</h4>

<div id="datacenter0">

        {{> admin/upload}}
        
</div>   

<div id="datacenter1">

        {{> admin/file-list}}
        
</div>   