
<h2>Admin</h2>

<ul  class="list-unstyled">
<li><a href="/admin/useradmin">User Administration</a></li>
<li><a href="/admin/options">Options and Database tools</a></li>
<li><a href="/admin/dbinsert">Database Insert Help</a>
<li><a href="/admin/filemanager">File Manager</a></li>
<li><a href="/admin/logs">Log Manager</a></li>
<li><a href="/admin/models">Models</a></li>
<li><a href="/admin/joins">Joins</a></li>
</ul>



