<h4>Log Viewer</a>
<div>
<h5>{{filename}}</h5>
  <table {{> bootstrap-table}} >
    <thead>
      <tr>
        <th data-sortable="true" data-field="index">index</th>
        <th data-sortable="true" data-field="message">Message</th>
      </tr>
    </thead>
    <tbody>
    {{#each data}}
      <tr>
        <td>{{@index}}</tc>
        <td>{{message}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>
