<div>
  <h3>Options</h3> {{#each optList}}
  <div>
    <h4><a href="/admin/optionsedit/{{optListKey}}">{{optListName}}</a></h4>
    <ul id="{{optListKey}}" class="list-unstyled">
      {{#each optListArray}}
      <li>
        {{this}}
        <br>
      </li>
      {{/each}}
    </ul>
    <hr>
  </div>
  {{/each}}
  <form id="newList">
    <input type='submit' class='btn btn-success btn-xs' formaction='/admin/optionsedit/new' formmethod="get" novalidate value='New List'>
  </form>
<div>

<hr>
    <h4>Seed Data - Here be dragons!</h4>
  <form>
    <input type='submit' class='btn btn-success btn-xs' formaction='/admin/optionsadmin/seedOptionsdb' formmethod="get" novalidate value='Seed Options'>
    <br>
    <input type='submit' class='btn btn-danger btn-xs' formaction='/admin/optionsadmin/dropOptionsdb' formmethod="get" novalidate value='Drop Options'>
    <br>
    <br>
    <input type='submit' class='btn btn-danger btn-xs' formaction='/admin/optionsadmin/seedDatacenter' formmethod="get" novalidate value='Seed Datacenter'>
    <br>
    <input type='submit' class='btn btn-danger btn-xs' formaction='/admin/optionsadmin/dropDatacenter' formmethod="get" novalidate value='Drop Datacenter'>
    <br>
    <br>
    <input type='submit' class='btn btn-danger btn-xs' formaction='/admin/optionsadmin/dropRack' formmethod="get" novalidate value='Drop Rack'>
    <br>
    <br>
    <input type='submit' class='btn btn-danger btn-xs' formaction='/admin/optionsadmin/seedEquipment' formmethod="get" novalidate value='Seed Equipment'>
    <br>
    <input type='submit' class='btn btn-danger btn-xs' formaction='/admin/optionsadmin/dropEquipment' formmethod="get" novalidate value='Drop Equipment'>
    <br>
    <br>
    <input type='submit' class='btn btn-danger btn-xs' formaction='/admin/optionsadmin/seedSystem' formmethod="get" novalidate value='Seed Systems'>
    <br>
    <input type='submit' class='btn btn-danger btn-xs' formaction='/admin/optionsadmin/dropSystem' formmethod="get" novalidate value='Drop Systems'>
    <br>
  </form>
</div>
