

<h4>User Administration</h4>

{{!-- Make a list partial that shows all users --}}

{{!-- Make an edit page for users --}}

{{!-- Setup an password reset that sends an email with a temp url --}}

{{> admin/user-list}}