<h1>Datacenters 1</h1>
{{#each datacenters}}
<div class="datacenter">
    <h3><a href="/locations/datacenter-edit{{id}}"{{name}}  {{abb}}</h3>
    <br>
    <p>{{{fullAddress}}}</p>
 {{/each}} 
</div>
