<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/location/datacenter/list">Datacenters</a></li>
  <li>Racks</li>
</ol>
<hr>
<div id="datacenter">

        {{> location/rack-list}}
        
</div>    