
<h4>Search from the the header bar</h4>

<p>Search from the header bar is your friend, it is always available and can use partials. For instance a System Name search for “pache” will return all systems with some part of “pache” in the name. So apache01, apache2, apacheproxy01 etc would all be returned. At this time you can not use wildcards in the middle of the word “ap*che” will not return results. Your search results tab label will start with “..” and then your search phrase. So as in the example above, a search for “pache”, the tab label will be .. pache. This can be handy for keeping track of the tab with your search in it.<p>

<h5>Other searches:</h5>
<ul>
<li>Ticket Number: The Jira ticket number the System was requested with.</li>
<li>Modified by: Last person to edit that System or Equipment.</li>
<li>EndPoint: All Systems attached to an end point or loop.</li>
<li>Cable Number: A cable serial number.</li>
<li>Equipment SN: Equipment Serial Number.</li>
<li>Asset Tag: Not used.</li>
<li>Ticket Number: The Jira ticket number the Equipment was received with.</li>
<li>PO Number: PO the Equipment was ordered with.</li>
<li>Invoice Number: Invoice related to the Equipment.</li>
<li>Project Number: Project the Equipment was ordered for.</li>
<li>MAC Address: Equipment MAC address can be searched by 00:00:00 or 00000000</li>
</ul>

<h4>Reports</h4>
<p>Using the DCIT drop down menu on the top left, select reports. From here you can select Environment, Role and Make reports. These are all displayed using the same tabled format with Location, System Name, Equipment SN and a few other vitals.</p>
<ul>
<li>Environment: This will find all Systems tagged to an environment</li>
<li>Role: This will find all Systems tagged to a role</li>
<li>Make: This will find all Equipment from that Make</li>
</ul>
