    <div>
        {{#each systemPorts}}
        {{#if sysPortisConsole}}
        <h5>Avocent Console Config</h5>
        {{sysPortEndPoint}}<br>
      <div class="span9" style="border: 2px solid grey">
        <p>cd /ports/serial_ports<br>
           set_cas <mark>{{sysPortEndPointPort}}</mark><br>
           set enable_cisco_rj45_pin-out=<mark>{{sysPortOptions}}</mark><br>
           set status=enabled<br>
           set speed=9600<br>
           set parity=none<br>
           set data_bits=8<br>
           set stop_bits=1<br>
           set flow_control=none<br>
           cd cas<br>
           set port_name=<mark>{{../../systemName}}</mark><br>
           set enable_auto_discovery=no<br>
           set protocol=ssh<br>
           set authentication_type=ldap|local<br>
           save --cancelOnError<br>
           echo on<br>
           commit</p>
        </div>   
        {{/if}}
        {{/each}}
    </div>