{{#if access.edit}}  
    <a href="/equipment/edit-{{equipSN}}" >
        <span class="glyphicon glyphicon-edit glyphicon-danger" accesskey="x"  title="Press Alt x to Edit {{equipSN}}" ></span></a>
    <a href="/equipment/edit~copy-{{equipSN}}">
        <span class="glyphicon glyphicon-plus-sign glyphicon-danger" accesskey="c" title="Press Alt c to Copy {{equipSN}}"></span></a>
{{/if}}