<table {{> bootstrap-table}}
        data-url="/reportByInserviceEnvRole.json?dcAbbr={{abbreviation}}"
        >
    <thead>
        <tr>
            <th data-sortable="true" data-field="env">Environment</th>
            <th data-sortable="true" data-field="role">Role</th>
            <th data-sortable="true" data-field="countApp">Application</th>
            <th data-sortable="true" data-field="countDb">Database</th>
        </tr>
    </thead>
</table>