{{#if access.edit}}  
    <a href="/system/edit-{{systemName}}" >
        <span class="glyphicon glyphicon-edit glyphicon-danger" accesskey="x"  title="Press Alt x to Edit {{systemName}}" ></span></a>
    <a href="/system/edit~copy-{{systemName}}">
        <span class="glyphicon glyphicon-plus-sign glyphicon-danger" accesskey="c" title="Press Alt c to Copy {{systemName}}"></span></a>
{{/if}}
