<h1 id="welcome-to-dcit-help">WELCOME TO DCIT HELP</h1>

<hr>

<p><div class="toc">
<ul>
<li><a href="#welcome-to-dcit-help">WELCOME TO DCIT HELP</a><ul>
<li><a href="#search-from-the-the-header-bar">Search from the the header bar</a></li>
<li><a href="#other-searches">Other searches:</a></li>
<li><a href="#nav-menu-reports">Nav Menu Reports</a></li>
<li><a href="#query-report-builder-added-in-v0218">Query report builder (added in v0.2.18)</a><ul>
<li><a href="#direct-download">Direct Download</a></li>
<li><a href="#advanced-report-options">Advanced Report Options</a><ul>
<li><a href="#supported-query-string-options-are">Supported query string options are:</a><ul>
<li><a href="#search-modifiers-refining-search-results">Search Modifiers - refining search results</a></li>
<li><a href="#search-sorting-how-the-results-are-arranged">Search Sorting - how the results are arranged</a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#system-based-csv-and-json-report-builder-added-in-v0202">System Based CSV and JSON report builder (added in v0.2.02)</a></li>
<li><a href="#equipment-based-csv-and-json-report-builder-added-in-v0215">Equipment Based CSV and JSON report builder (added in v0.2.15)</a></li>
</ul>
</li>
<li><a href="#templates-for-equipment-and-systems-added-in-v0218">Templates for Equipment and Systems (added in v0.2.18)</a></li>
<li><a href="#eol-end-of-life-equipment-option-added-in-v0215">EOL ( End of Life) Equipment option (added in v0.2.15)</a></li>
<li><a href="#parent-equipment-added-in-v-0207">Parent Equipment (added in v 0.2.07)</a></li>
<li><a href="#system-ports">System Ports</a><ul>
<li><a href="#port-type">Port Type</a></li>
<li><a href="#port-name">Port Name</a></li>
<li><a href="#cable-path">Cable Path</a></li>
<li><a href="#end-point">End Point</a></li>
<li><a href="#endpointpre">EndPointPre</a></li>
<li><a href="#endpointport">EndPointPort</a></li>
<li><a href="#options">Options</a></li>
<li><a href="#address">Address</a></li>
<li><a href="#url">URL</a></li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
</p>

<p>Data Center Information Tracking is a one stop data center information repository. Facilities, Power, Equipment and Systems all in one place.</p>

<blockquote>
  <p>Note: This site has only been tested on the latest Chrome. It uses HTML5 extensively and many features are still not available in other browsers. Sorry, I just don’t have time to test more than one at this time.</p>
</blockquote>

<h2 id="search-from-the-the-header-bar">Search from the the header bar</h2>

<p>Search from the header bar is your friend, it is always available and can use partials. For instance a System Name search for “pache” will return all systems with some part of “pache” in the name. So apache01, apache2, apacheproxy01 etc would all be returned. At this time you can not use wildcards in the middle of the word “ap*che” will not return results. Your search results tab label will start with “..” and then your search phrase. So as in the example above, a search for “pache”, the tab label will be .. pache. This can be handy for keeping track of the tab with your search in it.</p>



<h2 id="other-searches">Other searches:</h2>

<ul>
<li>Ticket Number: The install ticket number the System was requested with.</li>
<li>Modified by: Last person to edit that System or Equipment. </li>
<li>EndPoint: All Systems attached to an end point or loop. </li>
<li>Cable Number: A cable serial number. </li>
<li>Asset Tag: Not used. </li>
<li>Ticket Number: The Jira ticket number the Equipment was received with. </li>
<li>Invoice Number: Invoice related to the Equipment. </li>
<li>MAC Address: Equipment MAC address can be searched by 00:00:00 or 00000000 Reports</li>
<li>vlan: vlan seachs are the exact match type. Searching for “2” will only return vlan: 2 and not vlan: 32 or vlan: 23.</li>
</ul>



<h2 id="nav-menu-reports">Nav Menu Reports</h2>

<p>Using the DCIT drop down menu on the top left, select reports. From here you can select Environment, Role and Make reports. These are all displayed using the same tabled format with Location, System Name, Equipment SN and a few other vitals.</p>

<ul>
<li>Environment: This will find all Systems tagged to an environment</li>
<li>Role: This will find all Systems tagged to a role</li>
<li>Make: This will find all Equipment from that Make</li>
</ul>



<h2 id="query-report-builder">Query report builder</h2>

<blockquote>
  <p>Note: This report system supersedes the reports below. While they still exist, the Query Report system drives them and is far more intuitive. </p>
</blockquote>

<p>This is the base URL, it returns all Equipment, not including EOL Retired:</p>

<p><a href="/reports/query">/reports/query</a>  </p>

<p>This is the reporting system driving the Nav Menu Reports described above so the results are the same using the defaults. This information can be used to build more advanced reports. The <strong>findWhat</strong> is the same values you use in the Nav Menu Search box. The following are the keys for the <strong>findIn</strong> field:</p>

<ul>
<li>equipSN</li>
<li>equipParent</li>
<li>equipLocation</li>
<li>equipStatus</li>
<li>equipLOB</li>
<li>equipMake</li>
<li>equipPONum</li>
<li>equipInvoice</li>
<li>equipProjectNum</li>
<li>equipTicketNumber</li>
<li>equipModifiedBy</li>
<li>equipPortsAddr</li>
<li>systemName</li>
<li>systemRole</li>
<li>systemEnviron</li>
<li>systemTicket</li>
<li>systemParentId</li>
<li>systemAlias</li>
<li>systemModifiedBy</li>
<li>sysPortEndPoint</li>
<li>sysPortAddress</li>
<li>sysPortVlan</li>
<li>sysPortCablePath</li>
</ul>

<h3 id="direct-download">Direct Download</h3>

<p>The report returned will give you an idea of what the data will look like. At the top of the page you will see links for JSON and CSV, use these links to download the information directly system consumption. They have been tested in Chrome and curl (with the “-k” flag) and wget (with the “–no-check-certificate” flag). </p>



<h3 id="advanced-report-options">Advanced Report Options</h3>

<p>The Equipment report also adds query string support but adding a “?” and using “&amp;” key=value separators at the end of the URL and can be used independently or in combination with any of the searches above. </p>

<h4 id="supported-query-string-options-are">Supported query string options are:</h4>



<h5 id="search-modifiers-refining-search-results">Search Modifiers - refining search results</h5>

<p>-<code>equipEOL=true</code> : shows only EOL Equipment, defaults to false showing no EOL equipment. An example in the app is the “Equipment EOL Retired” report. <a href="/reports/query?equipEOL=true">/reports/query?equipEOL=true</a> <br>
 - <code>equipLocation=(some location partial)</code> : limit results to specific locations. With an Equipment based search, this is a prefilter, takeing place before the Lookup combines the results with Systems. For System based lookups, this is a postfilter that is inserted after the Lookup operation. <br>
 - <code>equipMake=(equipment manufacturer)</code> : limit results to specific manufacturer <br>
 - <code>ugly=true</code> : table header row matches collection field names (json and CSV reports are ugly style) <br>
 - filterOn is an advanced <strong>OR</strong> filter. You can see it in operation in the <strong>Spares</strong> report. You can use it to filter to either Systems or Equipment Fields but it takes some finesse. If you are Searching and Filtering on the same collection the field can be used ass is. If you are Searching on one collection and filtering on the other, you need to preface the filter with the appropriate prefix.  <br>
     - If searching on Equipment and filtering on a System field, prefix the <strong>filterOn</strong> with <code>"sys."</code> <br>
     - If searching on Systems and filtering on a Equipment field, prefix the <strong>filterOn</strong> with <code>"equip."</code> . This filter runs before the <script type="math/tex" id="MathJax-Element-6">lookup filter, so using this could significantly reduce report page load times depending on your database size. Currently 5k items are returned in under 500ms. on an unremarkable server, your millage may vary.
     - filterOn can be any collection field but is placed after the </script>lookup. <br>
     - filterArr is an array of comma separated values you want to find. An example can be found in the Spares report <br>
      <a href="/reports/query?filterOn=equipStatus&amp;filterArr=ordered,in%20transit,received,spare,assigned">/reports/query?filterOn=equipStatus&amp;filterArr=ordered,in%20transit,received,spare,assigned</a> <br>
     - <code>filterNor=1</code> option flips it into a Nor filter, returns results that do not contain your values. An example of this report can be found in the Equipment Not In Service report.  <br>
     <a href="/reports/query?filterOn=equipStatus&amp;filterArr=service&amp;filterNor=1">/reports/query?filterOn=equipStatus&amp;filterArr=service&amp;filterNor=1</a></p>

<h5 id="search-sorting-how-the-results-are-arranged">Search Sorting - how the results are arranged</h5>

<ul>
<li>sortField takes JSON formatted, comma separated query strings. Because they work postLookup, you need to be aware of the collection the report is based on and the need for proper prefixes. For instance to sort a report based on a System collection lookup on Environment, then Equipment Make, you would add the following query string <code>&amp;sortField={"systemEnviron":1,"equip.equipMake":1}</code>  <br>
<code>- 1</code> for ascending, <code>-1</code> for descending  <br>
By default,  <br>
System searches are sorted by Environment, Roll, Name <br>
Equipment searches are sorted by Make, Model, SubModel</li>
</ul>

<h3 id="system-based-csv-and-json-report-builder">System Based CSV and JSON report builder</h3>

<blockquote>
  <p>The following is for reference, the Query report creates the same report. </p>
</blockquote>

<p>The URL for this is: </p>

<pre class="prettyprint"><code class="language-html hljs "><span class="hljs-tag">&lt;<span class="hljs-title">hostname</span>&gt;</span>/reports/systems/(findIn)/(findWhat)</code></pre>

<p><strong>findIn</strong> options are: <br>
-  systemName <br>
-  systemRole <br>
-  systemEnviron <br>
-  systemTicket <br>
-  systemParentId <br>
-  systemAlias <br>
-  systemModifiedBy <br>
-  sysPortEndPoint <br>
-  sysPortAddress <br>
-  sysPortVlan <br>
-  sysPortCablePath</p>

<p><strong>findWhat</strong> is similar to the top bar search. As a matter of fact, the top bar search is now based on this report type where possible.</p>



<h3 id="equipment-based-csv-and-json-report-builder">Equipment Based CSV and JSON report builder</h3>

<blockquote>
  <p>The following is for reference, the Query report creates the same report. </p>
</blockquote>

<pre class="prettyprint"><code class="language-html hljs "><span class="hljs-tag">&lt;<span class="hljs-title">hostname</span>&gt;</span>/reports/equipment/(findIn)/(findWhat)</code></pre>

<ul>
<li>equipSN</li>
<li>equipParent</li>
<li>equipLocation</li>
<li>equipStatus</li>
<li>equipLOB</li>
<li>equipMake</li>
<li>equipPONum</li>
<li>equipInvoice</li>
<li>equipProjectNum</li>
<li>equipTicketNumber</li>
<li>equipModifiedBy</li>
<li>equipPortsAddr</li>
</ul>

<p><strong>findWhat</strong> is similar to the top bar search. As a matter of fact, the top bar search is now based on this report type where possible.</p>

<h2 id="templates-for-equipment-and-systems">Templates for Equipment and Systems</h2>

<p>Templates can be thought of as a reference entry or first of class. As an example, if you received a new server type, you would enter all the details of that server type, processors, memory etc. and mark it as a template. Then when more of this same server type arrive, you can find this template in the Equipment Template report and make a copy and update the relevant information like dates, PO numbers, Invoices etc. </p>

<h2 id="eol-end-of-life-equipment-soft-delete">EOL ( End of Life) Equipment Soft Delete</h2>

<p>The End of Life option removes that Equipment from reporting. It is basically a soft delete for future audits. These can essentially be left this way since they are excluded from any reporting at the database level. Remember to update the Equipment Status, End of Life date and Notes before checking the box.</p>

<h2 id="parent-equipment">Parent Equipment</h2>

<p>Parent Equipment is an Equipment that holds other tracked Equipment. This includes Engineered Systems, such as an EMC Storage cabinet or an Exadata, it also includes chassis type equipment like Cisco Nexus 9000 with blades. </p>

<p>Why is this cool? Before if you wanted to move a cabinet full of gear, you had to move every piece of gear. Now if you move any Parent Equipment, all Child Equipment moves too. <br>
To add a Parent Equipment, simply add the Parent SN in the Parent field. The Rack location will be come unavailable and only the RU is set separately. When saving the Child Equipment the Rack location code from the parent replaces any that currently exists. <br>
If you remove the Parent, the Parents rack location will remain but the field will no longer be disabled and you can move it anywhere you like.</p>

<blockquote>
  <p>Note: If you change the SN of a Parent, all Child Equipment Parent fields will be updated as well.</p>
</blockquote>

<h2 id="system-ports">System Ports</h2>



<h3 id="port-type">Port Type</h3>

<p>Although this allows a type in, please select from the list. There are actions keyed to these and if they are not correct, reports and scripts may not generate correctly.</p>



<h3 id="port-name">Port Name</h3>

<p>This is the name that makes the most sense from a physical point of view, not a internal system or OS perspective. Documenting this is meant to help re-cable the equipment in the case of replacement or emergency. Having some OS level name is not going to help with that, especially if that name is dynamic. If the port has an external label, use it. If not follow the convention for the type of port.</p>



<h3 id="cable-path">Cable Path</h3>

<p>For a simple, single cable, the cable serial number will suffice: <code>6002913</code> <br>
We don’t count patch panels as devices because they are passive but we do want to document their use. We use <code>~</code> to represent the cable and a forward slash <code>/</code> to represent the panel. Like so: <code>6002914~a.03.2.17/~/c.05.2.17~6002915</code>  <br>
In this example <code>a.03.2.17</code> is the host side patch port and <code>c.05.2.17</code> is the end point side patch port. </p>

<blockquote>
  <p>Note: Notice I am using cable serial numbers. I don’t recommend custom device/port to device/port cable labels because they generally end up wrong or left for later (in which case forgotten). Instead, all cables get a SN either by the vendor or when they come on the property so there is never an excuse not to have a label. Cost per label should be roughly $1.50, meanwhile, making/sicking your own is roughly 2:30 MM:SS which is roughly 40 cables per hour, do the math.</p>
</blockquote>



<h3 id="end-point">End Point</h3>

<p>End Points are any active device or termination. These can be switches, routers, colo drop. First note that this is an autofill field. If you start typing a portion of the name of any System, they will start appearing below the box. Pick the appropriate switch from there. If the switch you want is not on the list, double check the name. Also make sure it is already in DCIT. If this is a fresh build and the End Point is not yet in DCIT, you can free type the name, just make sure the name is exactly as it will be when you add the End Point System later.</p>



<h3 id="endpointpre">EndPointPre</h3>

<p>This is used for Modules and Blades in larger equipment. For instance a 6509 will show have up to 9 blades, and each of those can have up to 48 ports. If we wanted to document blade 3, EndPointPre would be <code>3</code>.</p>



<h3 id="endpointport">EndPointPort</h3>

<p>This is the port number on the EndPoint.</p>



<h3 id="options">Options</h3>

<p>Options depend on the type of EndPoint. For instance, if it is a switch, you might enter <code>duplex full, speed auto</code>. This does not do anything but add this to the Server Port Config report below (this could change in the future is network scripts are added). One place it matters is for Avocent ACS6000. This is the <code>Cisco port type</code> option in the script reports below. If this port is a Cisco or Sun device (most but not all devices with an RJ45 port), than Options should be “yes”, if it is a normal x86 server (usually DB9 port with null modem adapter), then Options should be “no” </p>



<h3 id="address">Address</h3>

<p>IP Addresses should be entered here, these are used by the ILOM and ACS Baremetal Build reports.</p>



<h3 id="url">URL</h3>

<p>URL is for future use. It could be set to a System dashboard or status report.</p>
