<!-- tocsvpartial.handlebars start -->
            <div class='button'> <!-- tocsvpartion.1 -->
                <a href="#" id ="export" role='button'>Download to CSV</a>
            </div> <!-- /tocsvpartion.1 -->
<!-- tocsvpartial.handlebars end -->