<!-- tocsvpartial.handlebars start -->
            <div class='button'>
                <a href="#" id ="export" role='button'>Download to CSV</a>
            </div>        
<!-- tocsvpartial.handlebars end -->