<nav class="navbar navbar-default "> <!-- topnav.navbar -->
  <div class="container-fluid">   <!-- topnav.navbar.next -->
    <div class="navbar-header">
      {{!-- hamberger --}}
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-dcit-nav" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <ul class="nav navbar-nav" role="menu" aria-labelledby="dLabel">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle navbar-brand" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">DCIT  <span class="caret"></span></a>
          <ul class="dropdown-menu">
            {{> nav/maindrop}}
          </ul>
        </li>
      </ul>
    </div>

    <div class="collapse navbar-collapse" id="bs-dcit-nav">
      {{> nav/dropsandlinks}}

      {{> nav/navright}}

    </div> <!-- /collapse -->
  </div> <!-- /topnav.navbar.next -->
</nav> <!-- /topnav.navbar -->
