<h3 id="whats-new">What’s new</h3>



<h4 id="v0220">v0.2.20</h4>

<ul>
<li>Added top bar Search Options. This works using the reporting infrastructure that has been added in the past few versions. While it is easier to use than writing query strings, it is still not as easy as I would like.</li>
</ul>

<h4 id="v0219">v0.2.19</h4>

<ul>
<li>Added postLookup for location based on System collection queries. Not as fast as Equipment based location based queries but still fast (bug: 42)</li>
<li>Updated Nav bar login (bug: 43)</li>
<li>Added Equipment and System “Template” field for these as a first of class. Also added menu item to show this report (bug: 38)</li>
<li>Added postLookup sort feature to reporting </li>
</ul>



<h4 id="v0218">v0.2.18</h4>

<ul>
<li>Query reports are now integrated into most reports. They replace the Equipment and System reports from v0.2.15 and v0.2.12 as the front end interface wile retaining all of the features of those reports for API access. Added filters and a number of speed enhancements. Old reports would return 5k Equipment in 9 seconds, plus another 5 seconds for the table to be usable. The new reports return 5k Equipment are are usable in less than 500ms.</li>
<li>fixed Alt x not saving issue seen in older versions of Chrome (bug: 28)</li>
<li>Drops not working on Nav menu (bug: 29)</li>
<li>fixed Equipment uploads (bug: 11)</li>
<li>EOL check now removes Location code (bug: 36)</li>
</ul>



<h4 id="v0215">v0.2.15</h4>

<ul>
<li>Added Equipment End of Life (soft delete) check box. Removes Equipment from reports</li>
<li>Added query sting add-ons to Equipment Reports</li>
</ul>



<h4 id="v0211">v0.2.11</h4>

<ul>
<li>Made everything wider. With the small laptop screens and wide tables, I wanted to get as much as possible on the screen as I could. (bug: #2)</li>
<li>Added Equipment Reports to work with the new JSON/Ajax style. These use Mongodb aggregation framework with $lookup. Large query reports  wnt from 8000ms to 450ms, not bad. May use this technique for system and equipment pages. (bug: #23)</li>
</ul>



<h4 id="v0210">v0.2.10</h4>

<ul>
<li>Reworked System Port Upload. It now streams the CSV into an array of System objects and then pushes an array of System Port Objects into that. That is then uploaded into the database. This gets around the race condition it was having when multiple ports needed to be written to the same document</li>
<li>Added router middleware for access checks to cut down on duplicate code</li>
<li>General refactoring of Rack Route Handlers</li>
<li>Cage edit pages now using the wider format and fixed the display bug for “Notes”</li>
</ul>



<h4 id="v0209">v0.2.09</h4>

<ul>
<li>General refactoring of Systems.js Route Handlers, rewired routes to follow the same model as Equipment (see v0.2.07 for that)  </li>
</ul>



<h4 id="v0208">v0.2.08</h4>

<ul>
<li>Added History back end. History is now being collected. Still need to build a view system for it (part of github issue #19)</li>
<li>Fixed IPMI firmware not saving (github issue #20)</li>
<li>Updated multiTrim for submission sanatizing</li>
<li>More compact form entry pages</li>
</ul>



<h4 id="v0207">v0.2.07</h4>

<ul>
<li>Added Equipment Parent (github issue #9). This allows for child Equipment, such as blades in a chassis or nodes an full rack Engineered System, to move with the Parent. Update the Parent location and all children will be updated. RUs will remain unchanged.</li>
<li>Fixed Received Date bug (github issue #17)</li>
<li>General refactoring of Equipment.js Route Handlers, including separating View, New, Edit and Copy modules. These now work with the following routes: <br>
/equipment/new for new <br>
/equipment/equipSN to View <br>
/equipment/equipSN/edit to Edit <br>
/equipment/equipSN/copy to Copy</li>
</ul>



<h4 id="v0204">v0.2.04</h4>

<ul>
<li>added vlan search to top bar (github issue #15)</li>
</ul>



<h4 id="v0203">v0.2.03</h4>

<ul>
<li>Consolidate table types by removing original jQuery tables where they were still in use ad replaced them with Bootstrap Tables (github issue #13). </li>
<li>Fixed Equipment SN and Make/Model in JSON report (github issue #12).</li>
<li>Fixed Received to show up on Spares report (github issue #8).</li>
</ul>



<h4 id="v0202">v0.2.02</h4>

<ul>
<li>Added CSV and JSON report builder. Allows for direct download of CSV and JSON data based on url</li>
<li>Added http redirect to https</li>
<li>Added middleware for user session data</li>
</ul>



<h4 id="v0201">v0.2.01</h4>

<ul>
<li>Rebuilt Data Center pages with collapsable sections</li>
<li>Rebuilt Rack and Network reports to use new table style</li>
<li>Top navbar is now fully responsive and mobile device capable</li>
<li>Added Jumbotron landing page</li>
<li>Upgraded to Node 5.1</li>
<li>Upgraded to Express 4.13</li>
<li>Upgraded to MongoDB 3.2</li>
<li>Added new System Counts report based on $lookup</li>
<li>Added Helmetjs http security</li>
<li>Updated CSURF support</li>
</ul>



<h4 id="v0136">v0.1.36</h4>

<ul>
<li>System Parent and Alias combine for port configs</li>
<li>Autofill works for multiple Parents using a comma delimiter</li>
</ul>



<h4 id="v0135">v0.1.35</h4>

<ul>
<li>Added Alias for systems with more than one name</li>
<li>Added Top Bar Search for Alias</li>
<li>Added System Status as report default</li>
</ul>



<h4 id="v0134">v0.1.34</h4>

<ul>
<li>Added Tooltips for required field on all forms</li>
<li>Completed validation setup from 0.1.33 update for all forms. Validation now highlighting issues on submit so they are easily found.</li>
</ul>



<h4 id="v0133">v0.1.33</h4>

<ul>
<li>Updated form validation to be more descriptive for required fields</li>
</ul>



<h4 id="v0132">v0.1.32</h4>

<ul>
<li>Location added to Top Bar Search (must be logged in)</li>
</ul>



<h4 id="v0131">v0.1.31</h4>

<ul>
<li>Port Delete for Systems and Equipment  now uses AJAX</li>
<li>When in anonymous site wide read-only mode, user can login from any page and returns to that page</li>
</ul>



<h4 id="v0130">v0.1.30</h4>

<ul>
<li>Streamlined Data Center, Rack, System and Equipment pages by going to a wide format</li>
<li>All single subject edit pages are now saved with Alt x</li>
<li>Updated look of site by adding glyphicons</li>
</ul>



<h4 id="v0122">v0.1.22</h4>

<ul>
<li>New Reports Table has column chooser with more data available such as Ticket Numbers, PO, Invoice and Project numbers as well as Systems and Equipment Notes and modified on. Also now has pagination (can be disabled or configured on the fly) and downloads for xlsx, txt, csv, json and sql.</li>
</ul>



<h4 id="v0121">v0.1.21</h4>

<ul>
<li>System name changes are now safe for EndPoints Systems. After updating the System name, all ports with EndPoints referencing that System will also be updated.</li>
</ul>



<h4 id="v0120">v0.1.20</h4>

<ul>
<li>Equipment SN can be changed</li>
</ul>



<h4 id="v01161">v0.1.161</h4>

<ul>
<li>MAC Adder tool now in DCIT Menu to find the next 4 MAC addresses of a system</li>
</ul>



<h4 id="v0116">v0.1.16</h4>

<ul>
<li>Top bar search now remembers last search</li>
<li>IP Address search added to top bar search</li>
</ul>



<h4 id="v0115">v0.1.15</h4>

<ul>
<li>EndPoint links now go to EndPoint connections page</li>
</ul>



<h4 id="v0114">v0.1.14</h4>

<ul>
<li>Added Avocent ACS bare metal config based on Data Center Network information</li>
<li>Added Server Technology bare metal config based on Data Center Network information</li>
</ul>



<h4 id="v0113">v0.1.13</h4>

<ul>
<li>On System and Equipment pages, alt - x for Edit, alt - c for Copy</li>
</ul>



<h4 id="v0112">v0.1.12</h4>

<ul>
<li>System Copy now copies port configs. This includes type, name, vlan and options. This makes it much faster to add a stack of similar machines.</li>
<li>Introduced the “model” concept. Since System and Equipment ticket numbers are not limited to a single number, adding “model” to a System or Equipment that is the gold standard for that type makes it easy to replicate later. Obviously, as standards change, models need to change with them, the model tag can be added or removed at any time.</li>
</ul>



<h4 id="v0111">v0.1.11</h4>

<ul>
<li>Added validation to new Serial Numbers and System Names. When adding a new Equipment or System, a green check will appear below new entries.</li>
<li>Added validation to pre-existing autocomplete fields, if it does not exist, a warning X will appear beneath the field. Double check your typing</li>
<li>Added color to autocomplete selections and bold for matches</li>
</ul>



<h4 id="v0110">v0.1.10</h4>

<ul>
<li>Refined New/Edit page autocomplete and added Make, Model in Equipment and Environment and Role for Systems.</li>
<li>Deleting a System with no location now returns to homepage.</li>
<li>Edit System, Port +1 now has End Point autocomplete</li>
<li>Moved jquery ui scripts to separate .js file</li>
</ul>



<h4 id="v0109">v0.1.09</h4>

<ul>
<li>Updated permission model so the environment can be switched from login-only to open read-only with configuration switch.</li>
<li>Moved some configuration files for clarity.</li>
<li>Updated home page to better fit open read-only model.</li>
<li>Link to last saved System or Equipment in Flash message</li>
</ul>



<h4 id="v0108">v0.1.08</h4>

<ul>
<li>Console config now highlights missing port number and cisco option</li>
<li>Canceling System or Equipment Copy goes to last copied System or Equipment</li>
<li>Fixed stripped “~” and “/” on new cable path</li>
</ul>



<h4 id="v0107">v0.1.07</h4>

<ul>
<li>Full racks are now shown in Rack Elevation diagram.</li>
<li>Links to Elevation and Details for racks can now be found on the left column of the Datacenter Rack list as E and D</li>
</ul>



<h4 id="v0106">v0.1.06</h4>

<ul>
<li>Changed default form action. Now Equipment SN, Location and MAC address do not auto submit with the bar code reader.  <br>
    MAC addresses are automatically parsed to include “:” and can be inserted or searched as 0123456789Ab, 01-23-45-67-89-Ab or 01:23:45:67:89:AB. Upper and lower case are supported but on save, all letters will be saved as uppercase.</li>
<li>Fixed the Port Configs so they no longer have a leading 0 for ports below 10. <br>
    See example here <a href="endpoint/con-loc01-103c-01">con-loc01-103c-01</a> in the sample site.</li>
</ul>



<h4 id="v0105">v0.1.05</h4>

<ul>
<li>Added ILOM config for Oracle x4-2 Equipment. To make this work: <br>
    1.  You need to pick NetMgmt as the port type. <br>
    2.  Use “ilom” for the port name so it appends it to the host name in the config</li>
<li>Here is an example of a System with a ilom config <a href="system/webfront1001">webfront1001</a></li>
</ul>



<h4 id="v0104">v0.1.04</h4>

<ul>
<li>Added console ports on the endpoint page. This is similar to the previous Google App Script Report but much faster. See example here <a href="endpoint/con-loc01-102c-01">con-loc01-102c-01</a> in the sample site.</li>
<li>Fixed the system-e0 mac address in the port config on the system page</li>
</ul>



<h4 id="v0103">v0.1.03</h4>

<ul>
<li>Added AJAX lookup of EndPoint Systems, Rack Locations and Equipment SN on System edit page. This improved loading time dramatically over previous lookups.</li>
</ul>



<h4 id="v0102">v0.1.02</h4>

<ul>
<li>DCIT goes live for the first time in production</li>
</ul>
