# ignore packages installed by npm
node_modules*
dump*


# put any other files you don't want to check in here,
# such as .DS_Store (OSX), *.bak, etc.
.DS_Store

# we don't want to accidentally check our secret credentials into the repo
scraps2.html

# don't commit log files

# ignore uploaded data

handlers/scratchpad.js
