<div class="row">    <!-- home.1 -->
  <div class="col-md-1">    <!-- home.1.1 -->
  </div>     <!-- home.1.1 -->
  <div class="col-md-7">     <!-- home.1.2 -->
  {{> helpmain}}
  </div>     <!-- home.1.2 -->

  <div class="col-md-4 pre-scrollable">     <!-- home.1.3 -->
    {{> whatsnew}}
  </div>     <!-- home.1.3 -->
</div>    <!-- home.1 -->
