<div class="container">
  <div class="jumbotron">
  <h1><span class="glyphicon glyphicon-edit"></span> dcit</h1>
  <h3>Data Center Information Tracking</h3>
  {{!-- <h3>For building and tracking a rock solid infrastructure</h3> --}}
  {{!-- <h4>Tracking Data Center assets and configuration since 2014 </h4> --}}
  {{!-- <h3>Datacenter asset lifecycle management </h3> --}}
  {{!-- <h6>a rock solid foundation for building cloud</h6> --}}
  </div>
</div>

