<div class="row">    <!-- home.1 -->
  <div class="col-md-1">    <!-- home.1.1 -->
  </div>     <!-- home.1.1 -->
  <div class="col-md-7">     <!-- home.1.2 -->
  <h1>Welcome to DCIT</h1>
  <p>Data Center Information Tracking is a one stop data center information repository. Facilities, Power, Equipment and Systems all in one place.</p>  

  <p>This site has only been tested on the latest Chrome. It uses HTML5 extensively and many features are still not available in other browsers. Sorry, I just don't have time to test more than one at this time.</p>
  <br>
  {{> help/topbarsearch}}
  </div>     <!-- home.1.2 -->
  
  <div class="col-md-4 pre-scrollable">     <!-- home.1.3 -->
    {{> whatsnew}}
  </div>     <!-- home.1.3 -->
</div>    <!-- home.1 -->

