<div class="container">   <!-- home.1 -->

    <div class="jumbotron text-center">   <!-- home.1.1 -->
        <h1>Authentication</h1>

        <p>Login or Register with:</p>

        <a href="/user/login" class="btn btn-warning btn-xs"><span class="fa fa-user"></span> Local Login</a>
        <a href="/user/signup" class="btn btn-warning btn-xs"><span class="fa fa-user"></span> Local Signup</a>
    </div> <!-- /home.1.1 -->

</div> <!-- /home.1 -->