
<div class="container">   <!-- signup.1 -->
  <div class="col-sm-6 col-sm-offset-3">    <!-- signup.1.1 -->
    <h1><span class="fa fa-sign-in"></span> Signup</h1>
    {{> admin/signup}}
  </div>    <!-- /signup.1.1 -->
</div>      <!-- /signup.1 -->
