    <li><a href="/"><span class="glyphicon glyphicon-home glyphicon-danger"></span> Home</a></li>
  {{#if access.read}}
    <li><a href="/location/datacenter/list"><span class="glyphicon glyphicon-globe glyphicon-danger"></span> Datacenters</a></li>
    <li><a href="/reports"><span class="glyphicon glyphicon-list-alt glyphicon-danger"></span> Reports</a></li>
    <li><a href="/reports/spares-"><span class="glyphicon glyphicon-list-alt glyphicon-danger"></span> Equipment Spares</a></li>
    <li><a href="/macadder/mactest.html" class="popup"><span class="glyphicon glyphicon-star glyphicon-danger"></span> MAC Adder</a></li>
  {{/if}}
    <li><a href="/help"><span class="glyphicon glyphicon-info-sign  glyphicon-danger"></span> Help</a></li>
  {{#if access.edit}}
    <li class="divider"></li>
    <li><a href="/equipment/new"><span class="glyphicon glyphicon-plus glyphicon-danger"></span> New Equipment</a></li>
    <li><a href="/system/new"><span class="glyphicon glyphicon-plus glyphicon-danger"></span> New System</a></li>
    <li><a href="/location/rack"><span class="glyphicon glyphicon-list-alt glyphicon-danger"></span> Racks All</a></li>
    <li><a href="/reports/eqnis-"><span class="glyphicon glyphicon-list-alt glyphicon-danger"></span> Equipment Not in Service</a></li>
    <li><a href="/reports/homeless-"><span class="glyphicon glyphicon-list-alt glyphicon-danger"></span> Equipment w/ no Location</a></li>
  {{/if}}
  {{#if access.delete}}
    <li class="divider"></li>
    <li><a href="/reports/eol-"><span class="glyphicon glyphicon-list-alt glyphicon-danger"></span> Equipment End of Life</a></li>
    <li><a href="/equipment"><span class="glyphicon glyphicon-list-alt glyphicon-danger"></span> Equipment All</a></li>
    <li><a href="/system"><span class="glyphicon glyphicon-list-alt glyphicon-danger"></span> Systems All</a></li>
    <li><a href="/systemports-list"><span class="glyphicon glyphicon-list-alt glyphicon-danger"></span> Systems Ports All</a></li>
    <li><a href="/equipment-systems"><span class="glyphicon glyphicon-list-alt glyphicon-danger"></span> Equipment & Systems All</a></li>
  {{/if}}
  {{#if access.root}}
    <li class="divider"></li>
    <li><a href="/report/systems/systemName/launch">Report testing zone</a></li>
    <li><a href="/report/systems/systemName/launch.json">Report testing zone - json</a></li>
    <li><a href="/admin/useradmin">User Administration</a></li>
    <li><a href="/admin/options">Options and Database tools</a></li>
    <li><a href="/admin/dbinsert">Database Insert Help</a>
    <li><a href="/admin/filemanager">Upload Manager</a></li>
    <li><a href="/admin/logs">Logs</a></li>
  {{/if}}
