        <li class="divider"></li>
        <li><a href="/report">Reports</a></li>
        <li><a href="/admin/useradmin">User Administration</a></li>
        <li><a href="/admin/options">Options and Database tools</a></li>
        <li><a href="/admin/dbinsert">Database Insert Help</a>
        <li><a href="/admin/filemanager">Upload Manager</a></li>
        <li><a href="/admin/logs">Logs</a></li>

{{!--     <li><a href="/admin/models">Models</a></li>
    <li><a href="/admin/joins">Joins</a></li>  --}}

