<div>  <!-- upload.1 -->
<form id="fileupload" class="form-horizontal" role="form"
		enctype="multipart/form-data" method="POST"
		action="/admin/uploadpost?_csrf={{_csrfToken}}">

	<input type="hidden" name="fileType" value="csv">


    <div class="form-group">   <!-- upload.2 -->
		<label for="fieldPhoto" class="col-sm-2 control-label">Data</label>
		<div class="col-sm-4">   <!-- upload.3 -->
			<input type="file" class="form-control" required accept=".csv"
				id="newCSVfile" data-url="/upload" name="newCSVfile">
		</div>   <!-- /upload.3 -->
	</div>   <!-- upload.2 -->
    <div class="form-group">   <!-- upload.4 -->
        <label for="field-fileDescription" class="col-sm-2 control-label"  >Description</label>
            <div class="col-sm-4">   <!-- upload.5 -->
        <select id="fileDescription" name="fileDescription" class="form-control" >
            <option "" >Choose one</option>
            {{#each optModels}}
               <option "{{{this}}}">{{this}}</option>
            {{/each}}
            </select>
            </div>   <!-- /upload.5 -->
        </div>   <!-- /upload.4 -->
     <div class="form-group">   <!-- upload.6 -->
            <div class="col-sm-offset-2 col-sm-4">   <!-- upload.7 -->
                        <input type="hidden" name="_csrf" value="{{_csrfToken}}">
                        <button type="submit"  value="Upload" class="btn btn-default btn-xs">Submit</button>
                        <button type="reset" class="btn btn-warning btn-xs"value="Reset">Reset</button>
             </div>   <!-- upload.7 -->
        </div>   <!-- upload.6 -->
     </form><form id="formCancel"></form>
</div>   <!-- /upload.1 -->
